{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
        <main>
                <div class="banner">
                        <div class="presentation">
                                <h2>Bienvenu sur ***** </h2>
                                <p>Ici vous pourrez gérer l'évolution de votre économie et créez un emploi du temps à votre mesure</p>
                        </div>
                        <div class="sign-up">
                                <button>S'inscrire</button>
                                <button>Voire les fonctionnalités</button>
                        </div>
                </div>

                <div>

                </div>


        </main>


{% endblock %}