{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
        <main>
                {% block banner %}
                        {% include 'includes/_banner_home.html.twig' %}
                {% endblock %}

                {% block presentation %}
                        {% include 'includes/_presentation_home.html.twig' %}
                {% endblock %}
        </main>


{% endblock %}