{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main>
        {% include 'income/_form.html.twig' with { 'button_label': 'Modifier'} %}
    </main>
{% endblock %}