{% block stylesheets %}
    {{ encore_entry_link_tags('banner') }}
{% endblock %}

<div class="banner bg-dark h-25 w-100 d-flex flex-column justify-content-center align-items-center text-white">
    <div class="presentation d-flex flex-column align-items-sm-start">
        <h2>Bienvenu sur ***** </h2>
        <p class="mt-1">Ici vous pourrez gérer l'évolution de votre économie et créez un emploi du temps à votre mesure</p>
    </div>
    <div class="sign-up mt-1 d-flex justify-content-lg-start">
        <button><a href="{{ path("app_register") }}">S'inscrire</a></button>
        <button>Voire les fonctionnalités</button>
    </div>
</div>