{% block stylesheets %}
    {{ encore_entry_link_tags('banner') }}
{% endblock %}

<div class="banner">
    <div class="presentation">
        <h2>Bienvenu sur ***** </h2>
        <p>Ici vous pourrez gérer l'évolution de votre économie et créez un emploi du temps à votre mesure</p>
    </div>
    <div class="sign-up">
        <button>S'inscrire</button>
        <button>Voire les fonctionnalités</button>
    </div>
</div>