{% block stylesheets %}
    {{ encore_entry_link_tags('foot') }}
{% endblock %}

<footer class="position-relative w-100 bottom-0 bg-primary">

    <div class="content-footer d-flex justify-content-around  align-items-center h-100 text-white">

        <ul>
            <li>First</li>
            <li>Second</li>
            <li>Third</li>
        </ul>

        <ul>
            <li>1</li>
            <li>2</li>
            <li>Contact</li>
        </ul>

        <ul>
            <li><a href="">Github</a></li>
            <li><a href="">LinkeDin</a></li>
            <li>6</li>
        </ul>
    </div>

</footer>