@import "app.scss";

main {
  height: 1000px;
  width: 100%;
}
.banner {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  background-color: var(--fourth-color);
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign-up {
  margin-top:16px;
}

.presentation p {
  margin-top: 16px;
}

.sign-up button:nth-child(2) {
  margin-top: 16px;
}

button {
  height: 34px;
}

@media screen and (min-width: 768px) {
  .sign-up {
    width: 1080px;
  }
}

@media screen and (max-width: 768px) {

  .banner {
    padding: var(--spacing4) var(--spacing3);
  }

  .presentation {
    align-items: center;
  }

  .presentation p {
    margin-top: 16px;
  }

  .sign-up {
    flex-direction: column;
    align-items: center;
  }

  .sign-up button:nth-child(2) {
    margin-top: 16px;
  }
}