.body-form {
  height: 640px;
  border-radius: 40px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

textarea {
  height: 240px;
  border-radius: 20px;
}

input {
  height: 34px;
  border-radius: 40px;
}

div button {
  border-radius: 20px;
}