@import "app.scss";

form {
  width: 50%;
}

.form-border {
  height: 90%;
  border-radius: 0 0 45px 45px;
}

.border-head {
  margin-top: 80px;
  height: 10%;
  border-radius: 45px 45px 0 0;
}

.content-form {
  height: 80%;
}