@import "app.scss";

/*
Principal presentation of the homepage
 */
.main_home {
  width: 100%;
}

img {
  height: 100%;
}

@media screen  and (max-width: 768px) {
  .carousel {
    display: none;
  }
}

