<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Message envoyé</title>
</head>
<body>
    <h1>Objet : {{ contact.subject }}</h1>
    <h2>De : {{ contact.email }}</h2>
    <p>
        {{ contact.message }}
    </p>
</body>

</html>