{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
    <main class="container d-flex justify-content-center h-100">
        <div class="row w-100 d-flex justify-content-center align-items-center">

            <div class="content-form w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <div class="head-form border-head d-flex justify-content-center align-items-center text-center position-relative border py-3">
                    <h1 class="text-white">Modifier le Budget</h1>
                </div>
                <div class="body-form form-border d-flex flex-column justify-content-center align-items-center border bg-white  py-3">

                    {% include 'budget/_form.html.twig' with { 'button_label': 'Modifier' } %}
                </div>
                <a href="{{ path('budget_index') }}">Retour à la liste des budgets</a>
            </div>

        </div>
    </main>
{% endblock %}