{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main>
        {% include 'budget/_form.html.twig' with { 'button_label': 'Ajout'} %}
    </main>
{% endblock %}

